* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: sans-serif;
}

.back {
    background-color : grey;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

#button {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: justify;
    margin-left: 300px;
    margin-right: 300px;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}